In [6]:
from pymongo.mongo_client import MongoClient

Data = MongoClient("mongodb://chethanreddy1234:chethan1234@ac-s9dsrxv-shard-00-00.yvbx0ko.mongodb.net:27017,ac-s9dsrxv-shard-00-01.yvbx0ko.mongodb.net:27017,ac-s9dsrxv-shard-00-02.yvbx0ko.mongodb.net:27017/?ssl=true&replicaSet=atlas-1ohy5i-shard-0&authSource=admin&retryWrites=true&w=majority")
ConnectData = Data['Test']['Test']

Cursor = ConnectData.find({})

for i in Cursor:
    print(i)
    print("\n\n")

{'_id': ObjectId('63e5ca9d0676846d4976a57e'), 'Patient_Id': 'ST689', 'Patient_Name': 'Jack Ruz', 'Patient_Age': '34', 'Gender': 'Male', 'contact_number': '7893393217', 'Occupation': 'F1 Racer', 'Address': '20-3-15R2 Siva Jyothi Nagar Tirupati', 'DateOfAsses': '2023-02-10', 'Complaint': 'Very Bad stomach ache', 'Past_History': 'There are no medical History', 'Surgical_History': 'Very few', 'Referal_Doctor': 'Henry Rick', 'Patient_Documents': [], 'Senior_Doctors_Prescription': {'S_Diagosis': 'Put Cold Water in head', 'Treatment': 'very bad place to be there', 'Exercise': 'None every day formated', 'review': 'None of them ', 'Home_Advice': 'Take care of his own', 'Up_Treatment': 'None he is fine with it', 'MRI_Impression': "It's good with MRI"}, 'Junior_Doctors_Prescription': [], 'Trainer_Prescription': [], 'Trainer_Suggestions': [], 'Tracker': [[datetime.datetime(2023, 2, 10, 10, 9, 57, 880000), 'Filled the Form by Chethan']]}



{'_id': ObjectId('63e5cac20676846d4976a581'), 'Patient_Id': 'ST71', 'Patient_Name': '', 'Patient_Age': '', 'Gender': 'Male', 'contact_number': '', 'Occupation': '', 'Address': '', 'DateOfAsses': '2023-02-10', 'Complaint': '', 'Past_History': '', 'Surgical_History': '', 'Referal_Doctor': '', 'Patient_Documents': [], 'Senior_Doctors_Prescription': [], 'Junior_Doctors_Prescription': [], 'Trainer_Prescription': [], 'Trainer_Suggestions': [], 'Tracker': [[datetime.datetime(2023, 2, 10, 10, 10, 34, 497000), 'Filled the Form by Chethan']]}

In [2]:
ConnectData.delete_many({})

In [6]:
import pandas as pd

clean_df = pd.DataFrame([(1,1,1),(2,2,2),(3,3,3)],columns=["Task","Status","Date"])

In [8]:
clean_df

   Task  Status  Date
0     1       1     1
1     2       2     2
2     3       3     3

In [ ]:
Pointers:
    1.